#content {
    padding-left: 30px;
    padding-right: 30px;
    font: 14px sans-serif, Helvetica, Arial;
}

.item-box {
    position: relative;
    background-color: #f2f2f2;
    padding: 5px;
    margin: 10px;
}
